// $headColor: #ffeb35;
// $fontColor: white;
// $backColor: #333333ba;

// $headColor: #E75B24;
// $headColor: #294B75;
// $headColor: #294B75;
$headColor: #252b2e;
$fontColor: white;
$backColor: #53a7db85;




#Deanery{
    background: {
        image: url('../images/admission.jpg');
        size: 100% 100%;
        repeat: no-repeat;
        position: center;
        attachment: fixed;
    };
    width: 100%!important;
    margin-inline: 0!important;
    .Deanery__container{
        background-color: $backColor;
        padding: 8rem 2rem;
        h3{
            font-size: calc(1.75rem + .65vw);
            text-align: center;
            color: $headColor;   
            font-weight: 600;   font-style: italic;
        }
        p{
            color: $fontColor;   
            // font-size: calc(1.25rem + 0.3vw);
            font-size: calc(1.0rem + 0.5vw);
            padding-inline: 4%;
            font-weight: 400;
        }
    }
}